.future{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}
.lists{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    margin-left: 200px;
    margin-right:200px;
}
.list{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.list>div{
    border-style: solid;
    border-radius: 15px;
    margin:10px;
    width: 500px;
    color:white;
    border-color: #E21F3A;
    background-color:#071731;
    height:190px;
    padding: 10px;
    font-size: 20px;
}
@media only screen and (max-width: 768px)
{
    .lists{
        flex-direction: column;
        align-items: center;
    }
}